{% extends 'base.html' %}
{% block title %} Product List {% endblock %}
{% block content %}
<style>
    /* Custom CSS for Product List */
    .product-list-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .product-list-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #343a40;
    }

    .product-list-container .list-group-item {
        font-size: 1.2rem;
        padding: 10px 15px;
        margin-bottom: 5px;
        transition: background-color 0.3s ease;
    }

    .product-list-container .list-group-item:hover {
        background-color: #f8f9fa;
    }
</style>

<div class="container product-list-container">
    <h2 class="my-4">List of products</h2>
    <div class="list-group">
        {% for product in products %}
            <a href="{% url 'product_detail' product.pk %}" class="list-group-item list-group-item-action">{{ product.name }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}